<h2>Information</h2>
<p><strong>When</strong>: 26 August 2016</p>
<p><strong>Where</strong>: <a href="https://goo.gl/maps/K7SFeHWKBvQ2">Terrain, 914 Baltimore Pike, Glen Mills, PA 19342</a></p>

<h2>Details</h2>
<ul>
  <li>Ceremony begins at 5:30 pm</li>
  <li>Reception and dinner immediately follow</li>
  <li>Semiformal dress</li>
  <li>Rain or shine</li>
  <li>Hotel reservation block available at <a href="http://www.wyndham.com/hotels/pennsylvania/glen-mills/wyndham-garden-glen-mills-wilmington/hotel-overview">Wyndham Garden</a> &mdash; please call to reserve your room in our wedding block by mentioning our last names</li>
</ul>

<h2>RSVP</h2>
<p>Please <a href="http://goo.gl/forms/fSPbSsEVRW">send your RSVP</a> online by 1 May 2016.</p>

<p>If you have any questions, please <a href="mailto:zalexz.zbza.zchinz+zkaitlinz.zmariez.zreidz@gmail.com" onmouseover="this.href=this.href.replace(/z/g, '');">email us</a>.</p>

<hr />
