---
layout: base
---
    <div id="{{ id }}" data-shortId="{{ shortId }}" class="wrapper">
        <header>

            <div class="logo-container">
              <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.url }}{{ site.baseurl }}/images/wedding-2.png')"></a>
            </div>

            <div class="centered">
               <h1>Manuel & Tamara</h1>
            </div>

            <div class="logo-container">
              <a class="logo" href="/help" style="background-image: url('{{ site.url }}{{ site.baseurl }}/images/jal-wedding-logo.png')"></a>
            </div>

        </header>

    	<main>
    	  <div>

    		  <div id="section-info">
    			  <h2>Información </h2>

    			  <p><strong>Cuando</strong>: 23 de Junio de 2018</p>
    			  <p><strong>Donde</strong>: <a href="https://www.google.es/maps/place/Iglesia+Parroquial+del+Corpus+Chisti/@41.6514196,-0.8685727,15z/data=!4m2!3m1!1s0x0:0xde2742ca8f61de19?sa=X&ved=0ahUKEwjt1KeMxqjbAhUOyaYKHU-SCB8Q_BIImAEwDg">Parroquia Corpus Cristi</a></li></p>

    		  </div>

    		  <div id="section-details">
    			  <h2>Detalles</h2>
    			  <ul>
    			    <li>La ceremonia empieza a las 18:00 horas</li>
    			    <li>Recepción y cena despues</li>
    			    <li>Vestuario semiformal</li>
    			    <li>El convite será en el
                <a href="https://www.google.es/maps/place/Hotel+Hiberus/@41.6685857,-0.9072374,15z/data=!4m2!3m1!1s0x0:0x5501e96b37977c3?sa=X&ved=0ahUKEwjdz6aTwajbAhWlFJoKHTb4A3YQ_BIIlAEwDg">Hotel Iberus</a></li>
    			  </ul>
    		  </div>

          <hr />

    		  <div id="section-contact">
    	  	  	  <h2>CONTACTO</h2>
    		  	  <!-- <p>Please <a href="http://goo.gl/forms/fSPbSsEVRW">send your RSVP</a> online by 1 May 2016.</p> -->
    		  	  <p>Si tienes alguna pregunta, podeis contactarnos:<p>
              <p>Email: <a href="mailto:tamma.25@hotmail.com" onmouseover="this.href=this.href.replace(/z/g, '');">tamma.25@hotmail.com</a></p>
              <p>Telefono: <a href="tel:675967777">675967777 (Manuel)</a> / <a href="tel:671769149">671769149 (Tamara)</a></p>
    		  </div>

          <hr />

    		  <div id="section-media">
    			  <h2>FOTOS Y VIDEOS</h2>

    			  <p> Comparte con nosotos las fotos y videos que tengas de la boda para que podamos crear un album de recuerdos: </p>
            <p> POR FAVOR ASEGURATE QUE GRABAS LOS VIDEOS EN POSICION HORIZONTAL! </p>
    			  <div class="centered">
                <br/>
                <form action="https://www.dropbox.com/request/GzlrKHkV8I7iuW8vmq0l">
                    <input type="submit" value="Subir fotos o videos" />
                </form>
    			  </div>
    		  </div>

          <hr />

    	  </main>
     </div>
